/*
    Comment on CSS!
*/

h1 {
    color: red;
}

p {
    color: blue;
}

#titulo-app {
    color: purple;
    font-size: 2em;
}

.p-texto {
    color: green;
}

/*
    Add colors
*/

.colorName {
    color: blue;
}

.hexaCodeColor {
    color: #6bfff8;
}

.rgba {
    color: rgba(54, 144, 255, 1);
}

/*
    Background div
*/

.div-background {
    background-image: url('../assets/soc.png');
    height: 300px;
    width: 430px;
}

.title-background {
    text-align: center;
    background-color: #000;
    color: #fff;
}

/*
    Fonts
*/

.family {
    color: #000;
    font-size: 40px;
}

.serif {
    font-family: "times new roman";
} 

.sans-serif {
    font-family: arial;
}

.monospace {
    font-family: "Courier new";
}

/* Box Model */

body {
    margin: 0;
}

.p-box {
    margin: 0;
}

.boxmodel {
    width: 200px;
    height: 200px;
    background-color: #dfdfdf;
    padding: 20px;
}
