/*
    Comment on CSS!
*/

h1 {
    color: red;
}

p {
    color: blue;
}

#titulo-app {
    color: purple;
    font-size: 2em;
}

.p-texto {
    color: green;
}

/*
    Add colors
*/

.colorName {
    color: blue;
}

.hexaCodeColor {
    color: #6bfff8;
}

.rgba {
    color: rgba(54, 144, 255, 1);
}